.logo-carousel-title {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bolder;
}

.logo-carousel-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
}

.logo-image {
  display: block;
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
  height: auto;
  object-fit: contain;
  mix-blend-mode: color-burn;
  padding: 30px;
  margin-right: 10px; /* Reduce the margin for smaller screens */
}

.logo-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.slick-slide {
  padding: 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

@media (max-width: 768px) {
  .logo-image {
    max-width: 250px;
    margin-right: 5px;
  }
}
