.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.inner-container {
  height: 100%;
  width: 100%;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  align-content: center;
}

.text {
  font-size: 17px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

.vision-section {
  margin-top: 40px;
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
}
.vision-content {
  width: 90%;
}
.vision-content p {
  text-align: justify;
  line-height: 1.8rem;
  font-size: 17px;
}

.vision-image {
  padding: 20px;
  width: 100%;
  height: auto;
  display: flex;

  justify-content: center;
  align-items: center;
}

/* .vision-image {
  flex: 1 1 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.vision-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.vision-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    max-width: 750px;
  }
  .vision-section {
    flex-direction: column;
    gap: 40px;
  }

  .vision-content,
  .vision-image {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    /* padding: 60px; */
  }
}
