.about-container {
  max-width: 1200px;
  margin: 50px auto;
}

.aboutus-section {
  background: url(../../Assets/AboutUsImage.jpg) no-repeat left;
  background-size: 90%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 50px 0;
  border-radius: 20px;
}

.inner-container {
  height: 40%;
  width: 50%;
  float: right;
  background-color: #fdfdfd;
  padding: 50px;
  border: 1px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px; */
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

.vision-section {
  padding: 20px;
  margin-top: 40px;
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.vision-content {
  width: 50%;
}

.vision-content p {
  text-align: justify;
  line-height: 1.8rem;
}

.vision-image {
  padding: 20px;
  width: 50%;
  height: auto;
  display: flex;

  justify-content: center;
  align-items: center;
}
.vision-image {
  flex: 1 1 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vision-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.vision-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .vision-section {
    flex-direction: column;
    gap: 40px;
  }

  .vision-content,
  .vision-image {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}
