:root {
  --yellow: #f3d08c;
  --grey: #d9d9d9;
}

.produt-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.produt-header .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.produt-header h1 {
  flex: 1;
  font-size: 70px;
  width: 50%;
  text-align: left;
}

.produt-header img {
  width: 50%;
}

.highlight {
  color: #e78e09;
}

/* Polygoans */

.BrushInTin-Container {
  position: relative;
  height: 400px;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
}

.BrushInTin-Container .BrushInTin-Polygon-warper {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.BrushInTin-Polygon-warper .BrushInTin-Polygon-first {
  background: var(--yellow);
  width: 90%;
  height: 100%;
  z-index: 1;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.BrushInTin-Container .BrushInTin-Polygon-second {
  position: absolute;
  width: 100%;
  background: var(--grey);
  height: 80%;
  bottom: 0;
  z-index: -1;
}

.rounded-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #e78e09;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
}
