.hero-image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-image .wrapper {
  max-width: 1200px;
  margin: 40px;
}

.hero-image .content {
  margin-right: 2cm;
  margin-bottom: 2cm;
}


