.title-container {
  position: relative;

  width: 100%;
  height: 100%;
  font-size: medium;
}

.title {
  background-color: #402a23;
  padding: 20px;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}
