.Home-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.Home-Container h1 {
  text-transform: uppercase;
  color: black;
}

/* 
.image-container {
  display: flex;
  height: 100vh;
  z-index: 1;
}

.image-item {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
} */
