.title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
}

.title-underline {
  width: 35%;
  height: 8px;
  background-color: #ff6600;
}
