.footer {
  background-color: #333;
  color: white;
  padding: 40px 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* gap: 30px; */
  width: 100%;
  /* max-width: 960px; */
  margin: 0 auto;
  padding: 50px;
  /* line-break: 1rem; */
}
.icon {
  vertical-align: baseline;
  margin-right: 5px;
}

.section {
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
}

.section p {
  line-height: 1.5rem;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.underline {
  width: 40px;
  height: 3px;
  background-color: #ff6600;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #666;
  color: #ff6600;
  transform: scale(1.5);
}

.footer-text {
  margin-top: 20px;
  text-align: center;
  color: #999;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 768px) {
  .section {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  h3 {
    max-width: 100%;
    font-size: 18px;
  }
}
