.contact-us-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.contact-details-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-details {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 100%;
  width: 100%;
}

.contact-details .getIntouch-content {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.contact-details .icon {
  color: #000;
  font-size: 35px;
}

.contact-details p {
  width: 100%;
  font-size: 16px;
}

.map-container {
  flex-basis: 100%;

  height: 400px;
}

@media (min-width: 769px) {
  .contact-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-details {
    flex-basis: calc(50% - 10px);
  }

  .map-container {
    flex-basis: calc(50% - 10px);
  }
}
